/* styles/2-style.css */

/* 
   Color Declarations

   set color values for various elements based on the styles from 1-style.css
*/

/* apply smooth scrolling behavior to the HTML element */
html {
    scroll-behavior: smooth;
}

/* set foreground color for the body */
body {
    color: #161616;
}

/* Set foreground color for all anchor elements */
a {
    color: #161616;
}

/* Hide elements with the class visually-hidden */
.visually-hidden {
    display: none;
}

/* Set foreground color for elements with class card-category */
.card-category {
    color: #D73953;
}

/* Set foreground color for elements with class section-tagline */
.section-tagline {
    color: #D73953;
}
