/* styles/3-style.css */

/* 
   Custom Properties and Color Definitions
   
   define custom color properties and apply them to relevant elements.
*/

/* Custom Properties */
:root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);
}

html {
    scroll-behavior: smooth;
}

/* Revisit color declarations for body and anchor elements */
body {
    color: var(--text-color);
}

a {
    color: var(--text-color);
}

.visually-hidden {
    display: none;
}

/* Color declarations for section-category and card-tagline */
.card-category {
    color: var(--color-primary);
}

.section-tagline {
    color: var(--color-primary);
}
